* {
  margin: 0;
  padding: 0;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: url(/Assets/weather2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.title-header {
  font-size: 150px;
  font-weight: bolder;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
}

#weather-container {
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 400px;
  border-radius: 90px;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  color: black;
  -webkit-text-stroke-color: darkgray;
  -webkit-text-stroke-width: 1px;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bolder;
}

#city-name {
  font-size: 75px;
}

#city-temp {
  font-size: 60px;
}

#city-condition {
  font-size: 40px;
}

#city-precipitation {
  font-size: 40px;
}

#text {
  height: 30px;
  width: 250px;
  font-size: 20px;
  background-color: black;
  color: darkgray;
}

button {
  height: 35px;
  width: 80px;
  border-radius: 20px;
  background-color: black;
  color: white;
}
